* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(85, 83, 83);
    font-family: system-ui;
    color: #fff;
}
.crud {
    width: 80%;
    margin: auto;
}
.header {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
}
.header h2 {
    color: #412525;
    font-weight: bold;
    font-size: 40px;
}
input {
    width: 100%;
    height: 30px;
    background-color: #111;
    color: #fff;
    margin: 10px 0;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
input:focus {
    transform: scale(1.1);
    background-color: #000;
}
.price {
    display: flex;
}
.price input{
    margin: 0 3px;
    width: 20%;
}
#total {
    background-color: rgb(87, 2, 2);
    padding: 4px;
    border-radius: 4px;
}
#total::before{
    content: "Total: ";
}
button {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #4b3737;
    color: #fff;
    transition: 0.5s;
}
button:hover {
    background: #B09390;
    letter-spacing: 1px;
}
#deleteAll{
    margin: 20px 0;
}
#btnsearch {
    display: flex;
    justify-content: space-between;
}
#btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}